.git
.idea
logs
temp

**/.DS_Store
**/.env
**/.env.local

**/node_modules
**/dist
**/target

kuzhambu-workers/.venv
kuzhambu-workers/.mypy_cache
kuzhambu-workers/.pytest_cache
kuzhambu-workers/.ruff_cache
kuzhambu-workers/.import_linter_cache
**/__pycache__
**/*.pyc
